*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  pointer-events: none;
}

body {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  background-color: black;
  color: white;
}

html {
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  font-size: 16px;
}

.webgl {
  position: absolute;
  top: -15%;
  left: 0;
  z-index: -1;
  pointer-events: all;
}

.titleRow {
  height: 9vh;
}

.subtitleRow {
}

.canvasRow {
  height: 42vh;
}

.statSpacer {
  height: 3vh;
}

.bottom-spacer {
  background-color: aqua;
}

#statsContainer {
  text-align: center;
  color: white;
  position: absolute;
  left: 0%;
  top: 60%;
  width: 100%;
  padding: 3.125rem;
  z-index: 1;
}


#title {
  font-size: 1.75rem;
  font-weight: 700;
  color: white;
  text-align: center;
  z-index: 1;
}


#subtitle, #subtitle-2 {
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
}

#subtitle-2 {
  margin-top: -0.3125rem;
}

#county, #stat {
  margin-bottom: 0.1875rem;
  font-size: 1.3125rem;
  text-align: center;
}

#stat {
  margin-top: 0px;
}

#footer {
  color: white;
  font-size: 0.65625rem;
  text-align: left;
  z-index: 5000;
}

.options-group .list-group-item-action {
  background-color: #000000;
  color: white;
  border-color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  pointer-events: all;
}

.explanation {
  text-align: left;
  color: white;
}

.explanation-header {
  font-size: 1.3125rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
  padding-top: 1.125rem;
  pointer-events: all;
}

.explanation-text {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 130%;
  pointer-events: all;
}

h1, h2, h3, p {
  pointer-events: all;
}

.statSpacer, .GUIRow {
  background-color: black;
}

.countyRow {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.75) 100%);
}

.statRow {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.75) 0%, rgba(0,0,0,1) 100%);
}

.titleRow {
  background-color: black;
}

.subtitleRow {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.75) 65%, rgba(0,0,0,0.5) 100%);
}

.canvasRow {
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.5) 100%);
}

.GUIRow {
  padding-bottom: 0.625rem;
}

a {
  pointer-events: auto;
  color: white;
}

h2 .br-spacer {
  display: block;
  content: "";

}